/* Home section */

.home {
    width: 100%;
    height: 100vh;
}

.myH2 {
  text-align:center;
  font-size: 4rem;
  z-index: 10;
  color: #fff;
}
.myP {
  text-align: justify;
  padding-left:15%;
  padding-right:15%;
  font-size: 20px;
  z-index: 10;
  color: #fff;
}
@media all and (max-width:700px){
  .myP {
    padding:2%;
  }
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-2;
  }
  

  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100vh;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;

  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  .Titulo {
    height: 10em;
    display: flex;
    align-items: center

  }

  .Titulo h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
  }


  .mais {
    height: 10em;
    display: flex;
    align-items: center;

  }

  .mais a{
    margin: 0;
    position: absolute;
    top: 95%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
  }

  .loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('http://i.imgur.com/zAD2y29.gif') 50% 50% no-repeat white;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }
  .video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    /*width: auto;
    height: auto;
  */
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .players {

	background-color: rgba(15, 199, 209, 0.75);
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
}

.players > p > span {
	font-weight: bold;
	padding: 1px 4px;
	border-radius: 3px;
	background: rgba(9, 150, 158, 0.7);
	margin: 0 2px;
}

@media(min-width: 400px) {

	.players {
		margin-top: 30px;
		padding: 5px;
	}

	.players > p > span {
		padding: 2px 7px;
	}
}

@media(min-width: 1250px) {
	.players {
		font-size: 1.22em;
		padding: 10px;
	}

	.extrapad {
		padding: 0 42.5px;
	}

	.players > p > span {
		padding: 4px 7px;
	}
}
.ip {
    cursor: pointer;
}

.discord {
    margin: 0;
    position: absolute;
    top: 200%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 11;


}

.extrapad {
	padding: 0;
}
a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.texto2 {
    text-align: center;
}

#emdev {
    width: inherit;
    height: inherit;
    background-color: black;
}


